body{
    margin: 0;
    padding: 0;
}
.div1{
    background-color: darksalmon;
    height: 100vh;
}
.div2{
    background-color: darkslategrey;
    height: 100vh;
}
.square{
    width: 200px;
    height: 200px;
    background-color: dodgerblue;
}
.red{
    background-color: rgb(158, 34, 34);
}