html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    margin: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    min-height: 100%;
    height: 100vh;
}

.Quick-navigation {
    position: fixed;
    z-index: 1;
    margin: 0;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.Quick-navigation-item {
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    font-size: 1.3em;
    transition: color 0.3s;
    padding: 0.5em;
    display: block;
}

.Quick-navigation-item:hover,
.Quick-navigation-item.current {
    color: #fff;
}

.Scroll-progress-indicator {
    will-change: opacity, transform;
    transition: all 0.5s;
    left: -10px;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    opacity: 0;
    padding: 2em;
    transform: translateX(200%) translateY(-50%);
    background-color: rgba(0, 0, 0, 0.1);
}

.Scroll-progress-indicator.visible {
    transform: translateX(-100%) translateY(-50%);
    opacity: 1;
}

#A {
    background-color: #dc143c;
}

#B {
    background-color: #eb2049;
    height: 600px;
}

#C {
    background-color: #ed395d;
}

#D {
    background-color: #ef5271;
    height: 200px;
}

#E {
    background-color: #f26a85;
}

.Scroll-to-top {
    position: fixed;
    right: 20px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    padding: 0.5em;
    cursor: pointer;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.3s;
    outline: none;
}

.Scroll-to-top.visible {
    opacity: 1;
    transform: translateY(0);
}

.Scroll-to-top:hover {
    color: rgba(255, 255, 255, 0.9);
}