doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
    body 
    .big-circles
        .big-circle 
        .big-circle 
        .big-circle 
    section#home
        .slide-wrapper
            .smallcircles
                .small-circle 
                .small-circle 
                .small-circle 
                .small-circle 
                .small-circle 
                .small-circle 
            .cover-wrapper.text-center#home-content
                .cover-wrapper__inner
                    .cover-wrapper__container
                        h1 Aman Pandey 
                        p
                            button.btn.btn-cta.btn-cta__green.text-uppercase.trigger(data-toggle='closed') view portfolio

    section#portfolio.portfolio-wrapper
        .cover-wrapper.text-center#home
            .cover-wrapper__inner
                .cover-wrapper__container
                    .container
                        .row 
                            .col-sm-12
                            h1.test-uppercase Portfolio
                            p
                                button.btn.btn-cta.btn-cta__green.text-uppercase.trigger(data-toggle='opened') Back home